# Electron
dist
out
.DS_Store
.eslintcache
*.log*

# Node
node_modules
*/node_modules
package-lock.json
*/package-lock.json

# Environment variables
.env
./app/.env

# Database files
*.db
*.db-shm
*.db-wal

# Product images
uploads
